terraform {
  required_providers {
    opennebula = {
      source  = "OpenNebula/opennebula"
      version = "~> 1.4"
    }
  }
}

locals {
  opennebula = {
    username = "admin"
    token    = "4b8cf5....................................................c1cb11"
    hostname = "opennebula.example.org"
  }
}

provider "opennebula" {
  endpoint = "https://${local.opennebula.hostname}/RPC2"
  username = local.opennebula.username
  password = local.opennebula.token
}

module "ciber" {
  count    = 20
  source   = "./crear_usuarios"
  hostname = local.opennebula.hostname
  username = format("ciber-%02d", count.index + 1)
  network  = count.index
  password = "12345Abcde"
}

module "ciber-nonet" {
  source    = "./crear_usuarios"
  hostname  = local.opennebula.hostname
  username  = "ciber-xx"
  password = "12345Abcde"
  crear_red = false
}
